@{
	ViewData["Title"] = "Strona główna";
}

<div class="text-center">
	<h1 class="display-2">Witaj</h1>
	<br /><hr /> <br />
	<h1>
		To jest strona główna naszego serwisu. Zaloguj się aby uzyskać dostęp do dodatkowych funkcji.
	</h1>
</div>