@{
    ViewData["Title"] = "Polityka Prywatności";
}
<h1>@ViewData["Title"]</h1>

<p>
    <strong>Wstęp</strong><br />
    Niniejsza Polityka Prywatności wyjaśnia, w jaki sposób Flotomania zbiera, przechowuje, chroni i przetwarza dane użytkowników. Dbamy o bezpieczeństwo Twoich danych i zapewniamy pełną transparentność w zakresie ich przetwarzania.
</p>

<p>
    <strong>Dane, które zbieramy</strong><br />
    Zbieramy dane osobowe i informacje związane z pojazdami, w tym:
    <ul>
        <li>Imię i nazwisko,</li>
        <li>Dane kontaktowe (np. adres e-mail),</li>
        <li>Numer rejestracyjny pojazdu,</li>
        <li>Marka i model pojazdu,</li>
        <li>Status pojazdu,</li>
        <li>Data ważności dokumentów (np. OC, badania techniczne),</li>
    </ul>
</p>

<p>
    <strong>Cel zbierania danych</strong><br />
    Zbieramy dane użytkowników, aby:
    <ul>
        <li>Umożliwić rejestrację i logowanie do aplikacji,</li>
        <li>Przechowywać i zarządzać informacjami o pojazdach,</li>
        <li>Zapewnić bezpieczeństwo aplikacji,</li>
        <li>Ulepszać działanie aplikacji na podstawie analizy danych.</li>
    </ul>
</p>

<p>
    <strong>Przechowywanie danych</strong><br />
    Twoje dane będą przechowywane przez czas niezbędny do realizacji celów opisanych w Polityce Prywatności, chyba że zdecydujesz się na usunięcie swojego konta. Po usunięciu konta dane będą usunięte, z wyjątkiem danych wymaganych przez przepisy prawa.
</p>

<p>
    <strong>Bezpieczeństwo danych</strong><br />
    Dokładamy wszelkich starań, aby Twoje dane były bezpieczne. Stosujemy szyfrowanie połączeń (SSL/TLS), silne metody przechowywania haseł (np. hashowanie), a także regularnie monitorujemy systemy pod kątem zagrożeń bezpieczeństwa.
</p>

<p>
    <strong>Udostępnianie danych</strong><br />
    Twoje dane nie będą udostępniane osobom trzecim, chyba że:
    <ul>
        <li>Wymaga tego prawo lub jest to konieczne w celu ochrony Twoich lub naszych praw.</li>
    </ul>
</p>

<p>
    <strong>Twoje prawa</strong><br />
    Masz prawo do:
    <ul>
        <li>Dostępu do swoich danych,</li>
        <li>Poprawiania swoich danych,</li>
        <li>Usunięcia swoich danych (w tym usunięcia konta),</li>
        <li>Wniesienia skargi do organu nadzorczego (np. Urząd Ochrony Danych Osobowych).</li>
    </ul>
</p>

<p>
    <strong>Zmiany w Polityce Prywatności</strong><br />
    Zastrzegamy sobie prawo do zmiany niniejszej Polityki Prywatności. W przypadku wprowadzenia istotnych zmian, użytkownicy zostaną poinformowani drogą mailową. 
</p>

<p>
    <strong>Kontakt</strong><br />
    Jeśli masz pytania dotyczące naszej Polityki Prywatności, skontaktuj się z nami pod adresem: <a href="mailto:kontakt@flotomania.pl">kontakt@flotomania.pl</a>
</p>

